{% extends "base.html" %}

{% block content %}
    <div class="row d-flex align-items-end">
        <h3 class="col m-0">Task lists</h3>
        <!-- New list -->
        <a class="col" href="{% url 'list_new' %}">
            <button class="btn btn-primary float-end">New list</button>
        </a>
    </div>

    <ul class="p-0 my-3">
        {% for task_list in lists %}
            <div class="card">
                <div class="card-header">
                    <span class="fw-bold">
                      <a href="{% url 'list' task_list.id %}">{{ task_list.title }}</a>
                    </span>
                    <span class="text-muted">Created by {{ task_list.owner }}</span>
                </div>
                <div class="card-body">
                    <span class="text-muted">Number of participants: {{ task_list.participants.count }}</span>
                </div>
                <div class="card-footer text-center text-muted">
                    <a href="{% url 'list_edit' task_list.id %}">Edit</a>
                    <a href="{% url 'list_delete' task_list.id %}">Delete</a>
                </div>
            </div>
            <br/>
        {% empty %}
            <h4>No lists found, please create one.</h4>
        {% endfor %}
    </ul>
{% endblock %}
